<%# ecoショップで買い物をするメリット部分 %>
<div class='main'>
  <div class='eco-merit'>
    <h2 class='title'>
      ecoショップで買い物をすると
    </h2>
    <ul class='merit-lists'>
      <li class='list'>
        <%= image_tag "#", class:"list-pict" %>
        <span class='merit-list-number'>1</span>
        <h3 class='merit-list-text'>
        <span class='merit-list-blue-text'>手軽に</span>
        エコに貢献できる
        </h3>
        <p class='merit-list-description'>
        商品を買うだけでエコに貢献できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "#", class:"list-pict"%>
        <span class='merit-list-number'>2</span>
        <h3 class='merit-list-text'>
        <span class='merit-list-blue-text'>簡単に</span>
      </li>
    </ul>
  </div>
</div>