.main {
  background: #f8f8f8;
}

.catch-copy {
  font-size: 25px;
  color: rgb(64, 92, 68);
  margin-top: 50px;
  background-color: white;
}

.product-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  font-size: 20px;
  color: rgb(83, 2, 2);
}

.product-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}